<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246593637647-s8771njn90j13nvkvpuu5f78r3hhufir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246593637647-s8771njn90j13nvkvpuu5f78r3hhufir</string>
	<key>API_KEY</key>
	<string>AIzaSyD0ncIZFDvX3HKfEEqsoZKcVnv21MF8jTM</string>
	<key>GCM_SENDER_ID</key>
	<string>246593637647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS-Academy.GPP</string>
	<key>PROJECT_ID</key>
	<string>gppbase</string>
	<key>STORAGE_BUCKET</key>
	<string>gppbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246593637647:ios:6ff47a791c6b9d4eb4427a</string>
</dict>
</plist>